@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 255, 255, 255; /* Set to white */
  --background-end-rgb: 255, 255, 255; /* Set to white */
}

/* Ensure the background is white in light mode as well */
@media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: 0, 0, 0;
    --background-start-rgb: 255, 255, 255; /* Set to white */
    --background-end-rgb: 255, 255, 255; /* Set to white */
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}
